@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


/* The root elements */
:root {

    /* colors */
    --black-bg-color: rgb(38, 38, 38);
    --ruby-pink: #e32359;
    --white: #fff;

    
    /* fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-anton:  'Anton', sans-serif;
    --font-protest-riot: 'Protest Riot', sans-serif;


    /* font sizes */
    --font-size-xsm: 1.1rem;
    --font-size-sm: 1.125rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 2.5rem;

     
    /* margins */
    --margin-sm: 30px;
    --margin-lg: 80px;
    --margin-xlg: 100px;
    --margin-xxl: 129px;


    /* padding */
    --padding-sm: 20px;
    --padding-md: 40px;
    --padding-lg: 120px;


    --padding-top-md: 60px;
   

     /* shadows and effects */
     --box-shadow-primary:rgba(0, 0, 0, 0.35) 0px 5px 15px;
     --box-shadow-secondary: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     --border-radius-sm: 6%;
     --border-radius-md: 50%;


    /* sizes */
    --width-xsm: 25%;
    --width-sm: 60%;
    --width-md: 70%;
    --width-lg: 85%;
    --width-xlg: 90%;
    --width-normal: 100%;
   

    /* images medium */
    --img-width-md: 300px;
    --img-height-md: 150px;

    /* images large */
    --img-width-lg: 430px;
    --img-height-lg: 200px;


    /* icon sizes */
    --icon-width: 20px;

}


/* Reset elements */
* {
    /* Box Model */
    box-sizing: border-box;

    /* Spacing */
    padding: 0;
    margin: 0;

    /* Transitions and Animations */
    transition: 1s ease-in-out;
    scroll-behavior: smooth;
}


/* The elements to be used in the body */
body {
    overflow-x: hidden;
    font-family: var(--font-roboto);
}


/* The anchor tags */
a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: var(--ruby-pink);
    font-weight: bold;
    text-decoration: underline;
}

/* The p-tag elements */
p {
    
    color: rgb(30, 28, 28);
    cursor: pointer;
    font-size: var(--font-size-xsm);
}


/* The heading element tags */
h1 {
  
    font-family: var(--font-roboto);
    padding-bottom: 10px;
    text-transform: capitalize;
}


h2 {
    font-family: var(--font-anton);
    font-size: var(--font-size-sm);
}

h1:hover,
h2:hover,
h3:hover,
h4:hover {
    color: var(--ruby-pink);
    cursor: pointer;
}


/* form elements */
form {
    display: flex;
    gap: 2px;
    width: var(--width-normal);
}


.form-search-icon {
    height: 20px;
}


/* input fields */
input[type=search] {

    border: 1px solid lavender;

    /* fonts */
    font-family: var(--font-poppins);
    font-size: var(--font-size-md);

    /* sizes */
    height: 42px;
    width: 40%;
}


/* Table elements */
th,
td {
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 1.2rem;
}

th:hover,
td:hover {
    color: var(--ruby-pink);
    font-weight: bolder;
}

td {
    text-align: center;
}

.calender-month {
    font-size: var(--font-size-md);
}
/* list structure elements */
ul {
    line-height: 1.5;
    font-size: var(--font-montserrat);
}

li {
    list-style: none;
    font-size: var(--font-size-sm);    
}


button {
    cursor: pointer;
}

/* Placeholder elements */
::placeholder {
    font-size: 1rem;
    font-family: var(--font-poppins);
    padding-left: 2px;
}


/* The font style know as rowdies */
.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

/* The image tag */
img {
    cursor: pointer;
}

.side-logo img {
    height: 90px;
}


/* The font sizes for the outside elements tags */
.font-xsm {
    font-size: var(--font-size-xsm)
}

.font-sm {
    font-size: var(--font-size-sm);
}


.font-md {
    font-size: var(--font-size-md);
}


.font-lg {
    font-size: var(--font-size-lg);
}

/* utilities */

/* Padding */
.padding-sm {
    padding: var(--padding-sm); /* 20 px*/
}

.padding-bottom-sm {
    padding-bottom: var(--padding-sm); /* 20 px*/
}

.padding-bottom-md {
    padding-bottom: var(--padding-md); /* 40 px*/
}

.padding-top-sm {
    padding-top: var(--padding-sm); /* 20 px*/
}


.padding-top-lg {
    padding-top: var(--padding-lg); /* 120 px*/
}

.padding-top-md {
    padding-top: var(--padding-md); /* 160 px*/
}


.padding-left-sm {
    padding-left: var(--padding-sm); /* 20 px*/
}

.padding-right-sm {
    padding-right: var(--padding-sm); /* 20 px*/
}


/* margins */
.margin-top-lg {
    margin-top: var(--margin-xlg);   /* 100px */
}

.margin-top-sm {
    margin-top: var(--margin-sm);
}

.margin-bottom-lg {
    margin-top: var(--margin-xlg);   /* 100px */
}

.margin-top-lg {
    margin-top: var(--margin-lg);   /* 80px */
}


/* text transformations */
.bold {
    font-weight: bold;
}

.display-text {
    color: blue;
    font-weight: bold;

}

.text-center {
    text-align: center;
}


/* flex elements */
.flex-items {

    cursor: pointer;

    /* Flex elements */
    display: flex;
    gap: 10px;

    /* margin elements */
    margin-top: var(--margin-lg);
    margin: auto;
   
}

.flex-item {
    background: ghostwhite;
    box-shadow: var(--box-shadow-secondary);
    cursor: pointer;
    padding: 20px;
    text-align: center;   
}

.flex-items a {
    display: flex;
    margin-top: var(--margin-sm);
    
}

.flex-item img {
    height: 30px;
    text-align: center;
}


.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-box-item  {
    font-size: 12px;
}

/* The site logo  */
.logo {
    height: 100px;
}


/* The navigation elements */

.nav-header {
    display: flex;
    /* width: var(--width-sm); */
}


.nav-body a {

    color: var(--ruby-pink);
    font-size: var(--font-size-md);
    font-family: var(--font-protest-riot);
}


.nav-container {

     /* fonts */
     font-family: var(--font-roboto);
     font-size: var(--font-size-sm);

    /* padding */
     padding-top: var(--padding-sm); 
     padding-right: var(--padding-md); 
    
    /* margin */
    margin: auto;

    /* sizes */
    height: 80px;
     width: var(--width-normal);

}


.nav-logo img {
   
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    transform: translateY(-30px);
}

.nav-links {
    display: flex;
    gap: 10.2px;
}

.navbar-icon {
    height: 30px;
}
/* when you log into your account and view the nav bar */
.start-a-new-group-discount {
    font-size: var(--font-size-xsm)!important;
}

/* Display */
.box {
    background: white;
    box-shadow: var(--box-shadow-secondary);
    padding: 25px;
  }

/* Buttons */
.search-btn {
    border: none;
    cursor: pointer;

    /* sizes */
    height: 42px;

    /* paddings */
    padding-left: 10px;
    padding-right: 10px;

}

.free-btn {
    background: white;
    border: none;
}

/* Related button elements */
.call-to-action-btn,
.join-us-btn,
.signup-btn,
.search-btn {
    background: var(--ruby-pink);
    box-shadow: var(--box-shadow-primary);
    color: white;
    cursor: pointer;
}


/* hover button elements */
.call-to-action-btn:hover,
.join-us-btn:hover,
.signup-btn:hover {
    color: black;
}
 

/* button sizes */
.button-sm {
    border: 1px solid;
    padding-right: 20px;
    padding-left: 20px;
}

.button-md {
    padding: 20px;
    font-size: 18px;
  }


/* The button link color */
.join-us-btn a {
    color: white;
}


/* icons */
.icons {
    transform: translateY(5px);
    width: var(--icon-width);
}


/* figcaption */
figcaption {
    letter-spacing: 0.1px;
    padding-top: var(--padding-sm);
}




/* Sections */
/* related width sizes for all containers */
#banner .container,
#events .container,
#event-details .container,
#events h1,
#home-page,
#explore-top-categories,
footer .container,
.friendships .container,
.how-meetup-works,
.join-us,
.popular-meetup-cities .container, 
#upcoming-events .container,
#upcoming-events h1,
#upcoming-events > div:nth-child(2){

    margin: auto;
    width: var(--width-lg);
}

/* Events and upcoming related events */
#events .container,
#upcomimg-events .container {

    /* flex elements */
    display: flex;
    flex-wrap: wrap;

    /* font-family */
    font-family: var(--font-roboto);

}


/* Call to action section */

.call-to-action .container {

    font-family: var(--font-montserrat);

    /* padding and margin */
    margin: auto;
    padding-top: var(--padding-md);

    /* sizes */
    width: var(--width-lg);
    
}


.call-to-action-p-info {
    line-height: 1.5;
    font-size: var(--font-size-sm);
    width: var(--width-xlg);

}

.call-to-action .info {
    width: var(--width-sm);
}

.call-to-action .img {
    margin-right: var(--margin-xlg);
}




/* The banner section */
#banner {
    box-shadow: var(--box-shadow-secondary);
    border-top: 1px solid lavender;
    margin-top: 10px;
}

#banner .container {
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
}

.banner-title {
  font-size: 1.68rem;
  font-weight: bold;
  padding-bottom: var(--padding-sm);
}

/* The events details section */
#event-details {
    background: lavender;
   
}
#event-details .container {
   padding-top: var(--padding-top-md);
}

#event-details p {
    line-height: 1.7;   
   
}

.event-details {
    width: var(--width-md);
    padding-bottom: var(--padding-sm);
}




.organiser {
    font-size: 14px;
    text-transform: uppercase;
}

.main-info,
.agenda-times {
    width: 60%;
}

.sidebar {
    width: 40%;
}




#upcoming-events > div:nth-child(2) {
    display: flex;
    margin: auto;  
}


.author {
    gap: 10px;
}


/* Event card related content */
.event-card,
.event-card .footer,
.popular-meetup-cities .container,
.upcoming-event-card,
.upcoming-event-card .footer{
    display: flex;
    flex-direction: column;
  
}

.event-card,
.upcoming-event-card  {  
    width: var(--width-xsm);
    padding-bottom: var(--padding-md);
}



/* The card images */
.upcoming-event-card .header img,
.event-card .header img  {
    box-shadow: var(--box-shadow-primary);
    border-radius: var(--border-radius-sm)
}



/* card images */
.upcoming-event-card .header img, 
.event-card .header img {
    height: var(--img-height-md);
}

.event-card .header img {
    width: var(--img-width-md);
}


/* spacing, margin and padding */
.explore-top-categories .container,
.popular-meetup-cities .container {
    font-family: var(--font-montserrat);
}


/* The attendees */
.attendees {
    background: white;
    box-shadow: var(--box-shadow-primary);
    padding: var(--padding-sm);
    font-family: var(--font-roboto);
    gap: 10px;
    position: relative;
}

.attendees-card {
    border: 3px solid lavender;
    text-align: center;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    width: 20%;

}

.attendees-card h3 {
    font-size: 13px;
    text-transform: uppercase;
}

.attendees-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.attendees-host{
    background: brown;
   
}
.attendees-guest {
    background: green;
}

.attendees-host,
.attendees-guest {
    color: white;
    font-family: var(--font-roboto);
    text-transform: uppercase;
    position: absolute;
    padding: 4px;
    top: 13px;
    font-size: 13px;
}

.amount-of-attendees {
  position: absolute;
  top: 40%;
  padding-left: 35px;
  font-size: 20px;
  font-weight: bold;
}

.view-attendees-link {
    font-size: 16px;
}

.attendees-title {
    font-size: 20px;
}



.related-cards{
    gap: 10px;
  }

.related-card {
    width: 34.3%;
    background: white;
    padding: 30px;
    margin-bottom: ;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    box-shadow: var(--box-shadow-primary);
  }


.related-card p {
    color: darkblue;
    font-size: 17px;
}

.related-card .body h4 {
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    font-weight: lighter;
}

.agenda-times h1,
.attendees-title,
.related-card-title {
    padding-top: 40px;
    font-size: 20px;
    font-weight: lighter;
}

.agenda-times h1 {
    font-weight: bold;
    font-size: 1.4375rem;
}
.attend-btn {
    width: 102px;
    height: 40px;
    background: var(--ruby-pink);
    color: white;
    cursor: pointer;
    border-radius: 2%;
  }


.attendees-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

.related-card .footer {
    padding-top: 40px;
}


.related-card .footer div span {
    font-size: 20px;
    font-weight: bold;
}
/* Cities section */
.cities {
    gap: 120px;
}

.city {
    padding-top: var(--padding-sm);
}



.city h2 {
    text-align: center;
}

.city-img {

    height: 150px;
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-primary);
}



/* how meets up work section */
.how-meetup-works {
    font-family: var(--font-montserrat);
}


/* Card section for the how meets up work */
.how-meetup-works .cards {
    gap: 17.6px;
 
}

.how-meetup-works .card {

    /* flex */
    display: flex;

    background: ghostwhite;
    box-shadow: var(--box-shadow-primary);
    gap: 32px;

    /* sizes */
    width: var(--width-sm);

    /* paddings */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    

}


/* Friendshp section */
.friendships {
    /* padding-top: 60px; */
}

.friendships .container .header {
  width: var(--width-sm);
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.friends {
    display: flex;
}


/* card section for friends section */
.friendships .header img {
    box-shadow: var(--box-shadow-primary);
    width: var(--img-width-lg);
    height: var(--img-height-lg);
    
}

.friendship-card {
    display: flex;
    flex-direction: column;
    width: 34.3%;
    gap: 3px;
}

.friendship-card .body p {
    font-size: 1rem;
    line-height: 1.4rem;
    padding-top: var(--padding-sm);
    width: var(--width-xlg);
    color: rgb(48, 46, 46);

}




.host {
    color: gray;
    /* font-weight: bold; */
    text-transform: capitalize;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* The join us article */
.join-us {
    background: lavender;
    box-shadow: var(--box-shadow-primary);
}

.join-us-info  {
    font-size: var(--font-size-xsm);
    line-height: 1.4;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 80%;
  }




/* Footer section */

footer {
    background: var(--black-bg-color);
    color: white;
}


footer .container {
    padding-top: 50px;
}


footer .container .head {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

footer .container div > a {
    color: white;
    padding-top: 4px;
}

.footer-links {
    display: flex;
    gap: 40px;
}

footer .container div > a:hover {
    color: var(--ruby-pink);
    font-weight: bold;
}



/* social links and images */

.follow-us {
 
}

.footer-links {
    
}


.social {
    display: flex;
    gap: 5px;
}

.social a > img {
    height: 30px;
    width: 30px;
}

.social a > img:hover {
    transform: rotate('360deg');
}


/* The icons for login */
.login-icon {
    height: 30px;
    transform: translateY(10px);
}

label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    
}


.meetup-logo {
    margin-top: 20px;
}

.meetup-logo h1 {
    text-transform: uppercase;
    color: var(--ruby-pink);
}
.meetup-login-icon {
    height: 100px;
}

#login .container,
#register .container {
    font-size: var(--font-size-sm);
    cursor: pointer;
    width: 28%;
    box-shadow: var(--box-shadow-primary);
    height: 580px;
    padding: var(--padding-sm);
    padding-top: var(--padding-sm);
    margin: auto;
}


/* The sign up and login attributes of the form */

.login-btn {
    font-size: 16px;
    
}

#email,
.google-login,
.facebook-login,
#password,
.submit-btn {
    height: 50px;
    font-size: var(--font-size-md);
   
    
}

.submit-btn {
    background: var(--ruby-pink);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.google-login,
.facebook-login,
.submit-btn {
    /* height: 60px; */
    margin-top: 10px;
    border: 3px solid lavender;
  
}

.submit-btn:hover {
    border: 2px solid var(--ruby-pink);
    background: white;
    color: black;
}

.facebook-login:hover,
.google-login:hover {
    border: 2px solid var(--ruby-pink);
    color: white;
}

.google-login,
.facebook-login {
    font-size: var(--font-size-sm);
    
}


/* the attend banner in the details page */
.attend-banner {
    width: var(--width-lg);
    margin: auto;
}

.attend-banner .container {
   
}

.attend-btn .buttons {
    font-size: 14px;
}

.attend-event-btn {
    background: var(--ruby-pink);
    color: white;
}
.attend-options {
    display: flex;
}

.sidebar-event-time p,
.sidebar-event-info p {
    font-size: 15px;
}

.sidebar-icon  {
    height: 20px;
    padding-right: 10px;
  }



  /* The homepage when you log in  */
  #home-page {
    margin-top: 30px;
  }


  /* The calender */

  #calender {
    box-shadow: var(--box-shadow-secondary);
    cursor: pointer;
    font-family: var(--font-poppins);
    border: 3px solid lavender !important;
    margin-top: 3px !important;
    margin-top: 30px !important;
    padding: 20px;
  }

  .current-date {
    text-align: center;
    border-radius: 50%;
    background: blue;
    color: white;
  }